name: Update DB

on:
  workflow_dispatch: {}
  schedule:
    # At 9:30am, 12:30pm, 5:30pm ET
    - cron: '30 13,16,21 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Update already known proposed rules
        env:
          REGULATIONS_GOV_API_KEY: ${{ secrets.REGULATIONS_GOV_API_KEY }}
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_RULE_DATABASE: ${{ secrets.NOTION_RULE_DATABASE }}
        run: |
          uv run update_known_rules.py

      - name: Find new proposed rules
        env:
          REGULATIONS_GOV_API_KEY: ${{ secrets.REGULATIONS_GOV_API_KEY }}
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_RULE_DATABASE: ${{ secrets.NOTION_RULE_DATABASE }}
        run: |
          uv run rule_scout.py

